{% extends 'base.html' %}

{% block content %}

    <ul class="nav nav-pills" role="tablist" id="galera">
      <li class="nav-item">
        <a class="nav-link active" href="#FormGaleraConfig" data-bs-toggle="tab" role="tab">Config. Galera Cluster</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#GaleraBootstrap" data-bs-toggle="tab" role="tab">Bootstrap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#GaleraRpmsChecker" data-bs-toggle="tab" role="tab">CheckRpms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Link</a>
      </li>
      
    </ul>
<div class="tab-content" id="galera-content">
<div class="tab-pane fade show active" role="tabpanel" id="FormGaleraConfig">
{% include 'form_config.html' %}

</div>
<div class="tab-pane fade" id="GaleraBootstrap" role="tabpanel">
<H1>Bootstrap</H1>
</div>
<div class="tab-pane fade" id="GaleraRpmsChecker" role="tabpanel">
<H1>Check all RPMS are OK !</H1>
</div>
</div>
{% endblock %}